a.visited, a:hover, a, a div {
    text-decoration: none;
    color: antiquewhite;
}

body{
    height: 800px;
    background-color: antiquewhite;
}

.container{
    height: 100%;
}

section{
    margin-top: 20px;;
}

header {
    background-color: saddlebrown;
    color: antiquewhite;
}

.content {
    height: 100%;
    background-color: antiquewhite;
}

.site-title {
    text-align: center;
}

.explanation-box {
    border: 1px solid black;
    border-radius: 10px;
}

.sub-heading {
    text-align: center;
}

.apiDemoBox {
    height: 45%;
}

.responseBox {
    border: 1px solid black;
    height: 70%;
    width: 55%;
    display: block;
    margin: 1em auto;
    background: lightgrey;
}

.apiExplanation {
    height: 25%;
    text-align: center;
}

h3 {
    text-align: right
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 1em;
}

footer div {
    display: inline-block;
}

.social-media-links {
    right: 0;
    position: relative;
    float: right;
}

.social-media-links a, .social-media-links div {
    display: inline-block;
}

.social-icon {
    height: 24px;
}